@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@font-face {
     font-family: 'JetBrainsMono-Light';
     src: url('../../fuentes/JetBrainsMono-Light.ttf') format('woff2')
}

.navBarContainer {
     background-color: #350505ee;
     width: 100vw;
     height: 30vh;
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.botones {
     grid-template-columns: repeat(3, 1fr);
     background-color: transparent;
     justify-content: center;
     align-items: center;
     background-position: bottom;
     position: center;
     cursor: pointer;
     display: flex;
     flex-direction: row;
}

.primerContenedor {
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.crear {
     background-color: #000000a7;
     font-family: 'JetBrainsMono-Light';
     padding: 5px 25px 5px 25px;
     border: 0;
     font-size: 1em;
     margin: 10px;
     cursor: pointer;
     color: white;
     flex-wrap: nowrap ;
     align-items: center;
     justify-content: center;
}

.crear:hover {
     background-color: #8b0000;
}

.Card {
     display: grid;
     flex-wrap: no-wrap;
     grid-template-columns: repeat(4, 1fr);
     align-items: center;
     justify-content: center;
     flex-direction: row;
     padding: 3vh 0;
     grid-gap: 1.5rem;
     left: 20px;
}

.buscador {
     margin: 10px;
}