@font-face {
     font-family: 'JetBrainsMono-Light';
     src: url('../../fuentes/JetBrainsMono-Light.ttf')
}

.home {
     height: 100vh;
     margin-top:3%;
}

.splash {
     height: 100%;
     width: 100%;
     text-align: center;
     display: flex;
     justify-content: center;
     /* align horizontal */
     align-items: center;
     /* align vertical */
}

.intro {
     padding-right: 15px;
     padding-bottom: 15px;
}

a {
     /* text-decoration: none; */
     font-family: 'JetBrainsMono-Light';
     color: #FFF;
}

.CTA {
     margin: auto;
     width: calc(11.40vw + 15px);
     height: calc(5vw + 8px);
     background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
     display: flex;
     align-items: center;
     border: none;
     justify-content: center;
     text-transform: uppercase;
     font-size: 1.45vw;
     font-weight: bold;
     cursor: pointer;
}

.CTA:after {
     content: attr(alt);
     width: 12vw;
     height: 5vw;
     background-color: rgba(255, 255, 255, 1);
     display: flex;
     align-items: center;
     justify-content: center;
}

.CTA:hover {
     animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
     to {
          background-position: 20vw;
     }
}

.splash h1 {
     color: #ffffff;
}

.splash p {
     padding-top: 10px;
     color: #ffffff;
}

.tituloPagina {
     font-family: 'JetBrainsMono-Light';
}