@font-face {
     font-family: "JetBrainsMono-Light";
     src: url("../../fuentes/JetBrainsMono-Light.ttf");
}

.contenedor {
     background-image: url("../../image/imagen.jpg");
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     width: 100vw;
     align-items: center;
     position: fixed;
     display: flex;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
}

.tituloLanding {
     font-family: "JetBrainsMono-Light";
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     justify-content: center;
     flex-direction: row;
     padding: 8px;
     z-index: 2;
     margin-top: 160px;
     color: #fff;
     font-size: 30px;
}

@font-face {
     font-family: "JetBrainsMono-Light";
     src: url("../../fuentes/JetBrainsMono-Light.ttf");
}

.containerButtonLanding {
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
}

.CTA {
     background-color: #000000cc;
     padding: 10px 45px 10px 45px;
     border-radius: 10px;
     font-size: 25px;
     border: none;
     color: white;
     font-family: "JetBrainsMono-Light";
     cursor: pointer;
}

.CTA:hover {
     background-color: #b10202;
}

.CTA:hover {
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}


@media (max-width:500px) {
     .tituloLanding {
          font-size: 15px;
          align-items: center;
          justify-content: center;
     }
}