.contenedorNavBar {
     margin-top: 5%;


}

select {
     background-color: rgba(255, 255, 255, 0.700);
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
     margin: 20px auto 40px auto;
     border: 1px solid #d9d9d9;
     height: 30px;
     overflow: hidden;
     width: 230px;
     position: relative;
}

select:focus {
     outline: none;
}