.numberContainer {
    background-color: rgba(0, 0, 0, 0.524);
    background-position: bottom;
    justify-content: center;
    align-items: center;
    position: center;
    display: flex;
    cursor: pointer;
    height: 4vh;
    color: #fff;
    padding: 0 3vw;
}

.number {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    margin: 1em;
    transition: transform .2s;
}

.number:hover {
    border-radius: 3rem;
    transform: scale(1.1);
    cursor: pointer;
    background-color: #8b0000;
}