.paginado {
     list-style: none;
     display:flex;
     align-items: center;
     justify-content: center;
}

/* 

ul.pagination {
     display: inline-block;
     padding: 0;
     margin: 0;
 }
 
 ul.pagination li {
     display: inline;
 } */