@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.contenedorSearch {
     align-items: center;
     display: flex;
     margin-bottom: 9px ;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-3 {
     width: 200px;
     vertical-align: middle;
     align-items: center;
     display: flex;
}

.container-3 input#search {
     width: 160px;
     height: 30px;
     background: #000000a3;
     border: none;
     font-size: 10pt;
     float: left;
     color: #262626;
     padding-left: 45px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 0px;
     color: #fff;
     margin-top: 4%;
}

.botonIr {
     background-color: #000000b3;
     margin-top: 8px;
     width: 600px;
     height: 30px;
     border: 0;
     font-size: 1em;
     color: white;
     font-family: "Roboto", sans-serif;
     position: center;
}