.parrafos {
     font-family: url('../../fuentes/JetBrainsMono-Light.ttf');
}

* {
     padding: 0;
     margin: 0;
}

.detalle {
     width: 80rem;
     height: 35rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     position: center;
     margin: auto;
     overflow: auto;
     cursor: pointer;
     border: 1px solid black;
     background-color: rgba(255, 255, 255, 0.700);
     transition: transform .2s;
}
.detalle::-webkit-scrollbar {
     -webkit-appearance: none;
 }
 
 .detalle::-webkit-scrollbar:vertical {
     width:10px;
 }
 
 .detalle::-webkit-scrollbar-button:increment,.detalle::-webkit-scrollbar-button {
     display: none;
 } 
 
 .detalle::-webkit-scrollbar:horizontal {
     height: 10px;
 }
 
 .detalle::-webkit-scrollbar-thumb {
     background-color: #797979;
     border-radius: 20px;
     border: 2px solid #f1f2f3;
 }
 
 .detalle::-webkit-scrollbar-track {
     border-radius: 10px;  
 }

.detalle:hover {
     transform: scale(1.03);
}


.imagenes {
     display: relative;
     width: 500px;
     height: 300px;
}

.botonVolver {
     background-color: #e7e7e7;
     padding: 4px 25px 5px 25px;
     border: 0;
     font-size: 1em;
     color: white;
     font-family: "Roboto", sans-serif;
     position: center;
     margin-top: 30px;
     margin-bottom: 20px;
}

.botonVolver:hover {
     background-color: #8b0000;
}

.nombreDetalle {
     margin-bottom: 8px;
     font-family: url('../../fuentes/JetBrainsMono-Light.ttf');
}