@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.form {
     padding: 40px;
     max-width: 400px;
     background-color: #E7E7E7;
     margin: 0 auto;
}

.input {
     margin: bottom 15px;
     font-family: "Roboto", sans-serif;
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     color: #525c66;
     font-size: 1em;
     resize: none;
     text-align: start;
}

.descripcion {
     margin: bottom 15px;
     font-family: "Roboto", sans-serif;
     width: 100%;
     padding: 30px;
     box-sizing: border-box;
     border: none;
     color: #525c66;
     font-size: 1em;
     resize: none;
     text-align: left;
}

.botonCrear {
     background-color: #0095eb;
     padding: 10px 45px 10px 45px;
     border: 0;
     font-size: 1em;
     color: white;
     font-family: "Roboto", sans-serif;
     position: center;
     margin-top: 40px ;
}

.botonCrear:hover {
     background-color: #046193;
}

.botonVolver {
     background-color: #e7e7e7;;
     padding: 4px 25px 5px 25px;
     border: 0;
     font-size: 1em;
     color: white;
     font-family: "Roboto", sans-serif;
     position: center;
     margin-top: 30px;
}

.botonSelect {
     background-color: white;
     border: 0.2px solid #e7e7e7;
     margin: 5px;
     position: fixed;
}