@import url(https://fonts.googleapis.com/css?family=Roboto:400);

@font-face {
     font-family: 'JetBrainsMono-Light';
     src: url('../../fuentes/JetBrainsMono-Light.ttf')
}

a {
     font-family: 'JetBrainsMono-Light';
}

.titulo {
     font-family: 'JetBrainsMono-Light';
     position: relative;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.form {
     padding: 40px;
     max-width: 400px;
     margin: 0 auto;
     justify-content: center;
     text-align: center;
     align-items: center;
     filter: alpha(opacity=70);
     -moz-opacity: .70;
     opacity: .70;
     border: solid 1px black;
     height: auto;
     background-color: rgb(47, 0, 0);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form:hover {
     /* background-color: #E7E7E7; */
     opacity: 100;
}

.input {
     margin: bottom 15px;
     font-family: "Roboto", sans-serif;
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     color: #fff;
     font-size: 1em;
     resize: none;
     text-align: start;
}

.descripcion {
     margin: bottom 15px;
     font-family: "Roboto", sans-serif;
     width: 100%;
     padding: 30px;
     box-sizing: border-box;
     border: none;
     color: #fff;
     font-size: 1em;
     resize: none;
     text-align: left;
}

.botonCrear {
     background-color: #0095eb;
     padding: 10px 45px 10px 45px;
     border: 0;
     font-size: 1em;
     color: white;
     font-family: "Roboto", sans-serif;
     position: center;
     margin-top: 40px;
}

.botonCrear:hover {
     background-color: #046193;
}

.botonVolver {
     background-color: #e7e7e7;
     padding: 4px 25px 5px 25px;
     border: 0;
     font-size: 1em;
     color: white;
     font-family: "Roboto", sans-serif;
     position: center;
     margin-top: 30px;
}

.botonVolver:hover {
     background-color: #046193;
}

.botonSelect {
     background-color: rgba(0, 0, 0, 0.579);
     margin: 5px;
     text-align-last: center;
}

.url {
     margin: bottom 15px;
     font-family: "Roboto", sans-serif;
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     margin-top: 6%;
     color: #525c56;
     font-size: 1em;
     resize: none;
     text-align: start;
}

.mError {
     font-family: 'JetBrainsMono-Light';
     color: #fff;
}

.genresSelector {
     font-family: 'JetBrainsMono-Light';
     padding: 4px;
     color: #fff;
}